.box {
  width: 100px;
  height: 100px;
  background-image: url("../image/1.jpg");
  background-position: 50% 50%;
  display: flex;
  flex: 1;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
